In [1]:
# importing required packages
import pandas as pd
import numpy as np
import quandl
import math

In [2]:
# install quandll
# !pip install quandl

In [3]:
# personal API Key
quandl.ApiConfig.api_key = "" # input your key

In [4]:
df = quandl.get("EOD/AAPL")

In [5]:
# high low percentage
df['HL_PCT'] = (df['Adj_High']-df['Adj_Low'])/df['Adj_Close']*100
df['HL_PCT']

Date
2013-09-03    2.711941
2013-09-04    1.195129
2013-09-05    1.421447
2013-09-06    1.892738
2013-09-09    0.877176
                ...
2017-12-21    1.097080
2017-12-22    0.527970
2017-12-26    1.050009
2017-12-27    0.627198
2017-12-28    0.800795
Name: HL_PCT, Length: 1090, dtype: float64

In [6]:
# percentage change
df['PCT_change'] = (df['Adj_Close']-df['Adj_Open'])/df['Adj_Open']*100
df['PCT_change']

Date
2013-09-03   -0.916650
2013-09-04   -0.173953
2013-09-05   -0.995502
2013-09-06   -0.044138
2013-09-09    0.231683
                ...
2017-12-21    0.482287
2017-12-22    0.188917
2017-12-26   -0.134660
2017-12-27    0.293945
2017-12-28    0.046784
Name: PCT_change, Length: 1090, dtype: float64

In [7]:
data = (df['Adj_Close'],df['PCT_change'],df['HL_PCT'],df['Adj_Volume'])
df1 = pd.DataFrame(data)

In [8]:
df1.isna().sum()

Date
2013-09-03    0
2013-09-04    0
2013-09-05    0
2013-09-06    0
2013-09-09    0
             ..
2017-12-21    0
2017-12-22    0
2017-12-26    0
2017-12-27    0
2017-12-28    0
Length: 1090, dtype: int64

In [9]:
# filling the missing values
df1.fillna(-99999)

Date,2013-09-03,2013-09-04,2013-09-05,2013-09-06,2013-09-09,2013-09-10,2013-09-11,2013-09-12,2013-09-13,2013-09-16,...,2017-12-14,2017-12-15,2017-12-18,2017-12-19,2017-12-20,2017-12-21,2017-12-22,2017-12-26,2017-12-27,2017-12-28
Adj_Close,1.547647e+01,1.579675e+01,1.568839e+01,1.578183e+01,1.603366e+01,1.566843e+01,1.481539e+01,1.497313e+01,1.472637e+01,1.425820e+01,...,4.143046e+01,4.185146e+01,4.244085e+01,4.198858e+01,4.194287e+01,4.210165e+01,4.210165e+01,4.103353e+01,4.104075e+01,4.115622e+01
PCT_change,-9.166498e-01,-1.739531e-01,-9.955022e-01,-4.413771e-02,2.316832e-01,-2.283682e+00,1.498683e-01,8.943436e-01,-9.460515e-01,-2.360087e+00,...,-1.044084e-01,1.958187e-01,8.806038e-01,-2.799520e-01,-2.973638e-01,4.822874e-01,1.889169e-01,-1.346604e-01,2.939447e-01,4.678363e-02
HL_PCT,2.711941e+00,1.195129e+00,1.421447e+00,1.892738e+00,8.771757e-01,3.628902e+00,1.898612e+00,1.986503e+00,1.533491e+00,3.196903e+00,...,8.593659e-01,9.829281e-01,1.326380e+00,7.448149e-01,1.244623e+00,1.097080e+00,5.279698e-01,1.050009e+00,6.271981e-01,8.007949e-01
Adj_Volume,3.319288e+08,3.450328e+08,2.363676e+08,3.595256e+08,3.406872e+08,7.431956e+08,8.986964e+08,4.040512e+08,2.988356e+08,5.437068e+08,...,8.190616e+07,1.606772e+08,1.176845e+08,1.097458e+08,9.390260e+07,8.379958e+07,6.539778e+07,1.327421e+08,8.599285e+07,6.592075e+07

In [10]:
df2 = df1.transpose()
df2

            Adj_Close  PCT_change    HL_PCT   Adj_Volume
Date
2013-09-03  15.476472   -0.916650  2.711941  331928800.0
2013-09-04  15.796753   -0.173953  1.195129  345032800.0
2013-09-05  15.688388   -0.995502  1.421447  236367600.0
2013-09-06  15.781833   -0.044138  1.892738  359525600.0
2013-09-09  16.033661    0.231683  0.877176  340687200.0
...               ...         ...       ...          ...
2017-12-21  42.101646    0.482287  1.097080   83799584.0
2017-12-22  42.101646    0.188917  0.527970   65397776.0
2017-12-26  41.033528   -0.134660  1.050009  132742144.0
2017-12-27  41.040745    0.293945  0.627198   85992852.0
2017-12-28  41.156217    0.046784  0.800795   65920748.0

[1090 rows x 4 columns]

In [11]:
x = df2[['PCT_change','HL_PCT','Adj_Volume']].values
y = df2['Adj_Close'].values

In [12]:
# splitting the dataset
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=43)

In [13]:
from sklearn import linear_model 
from sklearn.linear_model import LinearRegression

In [14]:
regressor = LinearRegression()  
regressor.fit(x_train, y_train)

LinearRegression()

In [15]:
print(regressor.coef_)

[-7.48936294e-02  1.33846981e+00 -3.81227771e-08]

In [16]:
y_prediction = regressor.predict(x_test)

In [17]:
from sklearn import metrics
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

In [18]:
# calculating the r2 score
r2 = r2_score(y_test,y_prediction)
print('r2 score for perfect model is',r2)

r2 score for perfect model is 0.3624533659370923

In [19]:
# calculating the mean square error
print('Mean Square Error:', metrics.mean_squared_error(y_test, y_prediction))

Mean Square Error: 27.818867022403396